# Binari & Kompilasi
tmp/
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Direktori IDE & Editor
.vscode/
.idea/
*.swp
*.swo

# Lingkungan OS & Log
.DS_Store
*.log

# Vendor & Dependensi (Jika tidak di-commit)
# vendor/

# Konfigurasi & Kredensial Sensitif
.env
.env.*
!.env.example

# Database Lokal / Temp SQLite
*.db
*.db-journal
*.sqlite
*.sqlite-journal

# Docker Postgres Data & Backups
docker/pgdata/
docker/backups/*.sql
