# Binari & Kompilasi
tmp/
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Direktori IDE & Editor
.vscode/
.idea/
*.swp
*.swo

# Lingkungan OS & Log
.DS_Store
*.log

# Vendor & Dependensi (Jika tidak di-commit)
# vendor/
