*.log
.DS_Store
.env
.env.*
!.env.example
.phpactor.json
/.phpunit.cache
/.phpunit.result.cache
/.pest
/.codex
/.agents
/.cursor/
/.idea
/.nova
/.vscode/*
!/.vscode/extensions.json
!/.vscode/settings.json
/.zed
/auth.json
/node_modules
/coverage
/public/hot
/public/storage
/bootstrap/cache/*
/storage/*.key
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*
/storage/pail
/vendor
database/*.sqlite
database/*.sql
database/*.dump
*.bak
*.backup
compose.override.yaml
docker-compose.override.yml
sail-pgsql
_ide_helper.php
Homestead.json
Homestead.yaml
Thumbs.db
